.grid {
  width: 500px;
  height: 500px;

  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-grow: 1;
  
  border: solid black;
}

.row:not(:last-child) {
  border-bottom: 0;
}

.box {
  border-right: solid black;
  flex-grow: 1;
}

.box:last-child {
  border-right: 0;
}