/*** CANVAS ***/

.grid {
  width: 640px;
  height: 640px;

  display: flex;
  flex-direction: column;

  margin: auto;
}

.row {
  display: flex;
  flex-grow: 1;
  
  border: solid black;
}

.row:not(:last-child) {
  border-bottom: 0;
}

.box {
  border-right: solid black;
  flex-grow: 1;
}

.box:last-child {
  border-right: 0;
}

/*** PAGE ***/

body {
  background-color: #d00000;
  padding: 1rem;
}

.title {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;

  color: #faa307;

  margin-bottom: 2rem;
}

.title > h1 {
  display: inline;
  margin: 0;
}

.title__big {
  font-family: 'Abril Fatface', cursive;
  font-weight: normal;
  font-size: 3.6rem;
}

.title__small {
  font-family: 'Fugaz One', cursive;
  font-weight: normal;
  transform: translateY(5px);
}

.controls {
  width: 640px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-inline: auto;
  margin-block: 2rem;
}

.controls__buttons {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}

.controls__dial {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #ffffff;
}

.controls__section {
  width: 100%;
  
  display: flex;
  justify-content: space-between;
  gap: 0.6rem;
}

.controls__btn {
  height: 40px;
  width: 96px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: 'Concert One', cursive;
  font-size: 1rem;

  color: hsla(0, 0%, 100%, 0.7);
  background-color: hsla(0, 0%, 0%, 0.05);

  border: 0;
  border-radius: 6px;

  padding: 6px;
}

.controls__btn.active {
  color: hsla(0, 0%, 100%, 0.9);
  background-color: hsla(0, 0%, 0%, 0.2);
}

.controls__btn:not(.active):hover {
  background-color: hsla(0, 0%, 0%, 0.1);
}

.btn--normal {
  color: #000000;
  background-color: #faa307;
  border: 4px solid #e85d04 ;
  border-radius: 20px;
}

.btn--normal:hover {
  background-color: #ffba08 !important; 
  border-radius: 20px;
}